/* resets */

html, body, ul, ol, li, form { margin: 0; padding: 0; }
h1, h2, h3, h4, p { margin-top: 0; }
img { border: 0; }
html, body { height: 100%; }

/* end of resets */

body {
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
  line-height: 30px;
}

label {
  display: block;
  clear: both;
}

label span.form-tip {
  display: block;
  clear: both;
  font-size: 0.85em;
}

input {
  display: block;
  clear: both;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

#container {
  max-width: 60em;
  margin: auto;
}

/* main menu */

div#mainmenu {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  background-color: #435a6b;
  height: 2em;
  padding-top: 1em;
  border-bottom: 1px solid #435a6b;
  border-right: 1px solid #435a6b;
  border-left: 1px solid #435a6b;
}

div#mainmenu nav.left {
  float: left;
  margin-left: 1em;
}

div#mainmenu nav.right {
  float: right;
  margin-right: 1em;
}

div#mainmenu nav a {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  outline: none;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

div#mainmenu nav.left a {
  margin-right: 0.5ex;
  margin-left: 0.5ex;
}

div#mainmenu nav.right a {
  margin-right: 0.5ex;
  margin-left: 0.5ex;
}


div#mainmenu nav a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

div#mainmenu nav a:hover::after,
div#mainmenu nav a:focus::after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* Single cell */

div.cell {
  padding-top: 1ex;
  padding-bottom: 1ex;
  border-bottom: 1px solid #435a6b;
  border-right: 1px solid #435a6b;
  border-left: 1px solid #435a6b;
}

/* Modules list */

.modules-list li {
  list-style-type: none;
  padding: 1ex;
  border-bottom: 1px solid #435a6b;
  border-right: 1px solid #435a6b;
  border-left: 1px solid #435a6b;
}

.modules-list li p {
  margin: 0;
}

h2.list-header {
  margin-bottom: 0;
  padding-top: 1ex;
  padding-bottom: 1ex;
  border-bottom: 1px solid #435a6b;
  border-right: 1px solid #435a6b;
  border-left: 1px solid #435a6b;
  text-align: center;
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  background-color: #0072c7;
}

.module-endorsers a {
  text-decoration: none;
  color: black;
}

a.module-name {
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
}

a.module-name:visited { color: black; }

h3.module-name {
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

button.module-endorse {
  float: right;
  margin-right: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: 0.5em;
  text-decoration: none;
  padding: 0.5ex;
  border: 1px solid black;
  color: black;
  width: 13ex;
  text-align: center;
  background-color: #f0f0f0;
}
button.module-endorse:visited { color: black; }
button.module-endorse:hover {  background-color: #d0d0d0; }

button.module-endorse .hover { display: none; }
button.module-endorse .endorsed { display: none; }

button.module-endorse.endorsed {
  float: right;
  margin-right: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: 0.5em;
  text-decoration: none;
  padding: 0.5ex;
  border: 1px solid black;
  color: black;
  width: 13ex;
  text-align: center;
  background-color: #1c7f00;
  color: white;
}
button.module-endorse.endorsed:visited { color: white; }
button.module-endorse.endorsed:hover {  background-color: #7f0a00; }

button.module-endorse.endorsed .regular { display: none; }
button.module-endorse.endorsed .endorsed { display: inline; }
button.module-endorse.endorsed:hover .endorsed { display: none; }
button.module-endorse.endorsed:hover .hover { display: inline; }

/* Labels list */

ul.labels-list { display: inline; }

.labels-list li {
  list-style-type: none;
  display: inline-block;
  padding-right: 0.2ex;
  padding-left: 0.2ex;
  padding-top: 0.2ex;
  padding-bottom: 0.2ex;
  margin-right: 0.2ex;
  margin-left: 0.2ex;
  border: 1px solid #435a6b;
  background-color: #0092d7;
}

.labels-list li:hover {
  color: white;
  background-color: #0072c7;
}

.labels-list li a {
  color: black;
  text-decoration: none;
}

.labels-list li:hover a {
  color: white;
}

.labels-list a:visited { color: black; }
